
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HeadLayout.cshtml";
}
<div id="menu-1" class="about content">
    <div class="row">
        <ul class="tabs">
            <li class="col-md-4 col-sm-4">
                <a href="#tab1" class="icon-item">
                    <i class="fa fa-umbrella"></i>
                </a> <!-- /.icon-item -->
            </li>
            <li class="col-md-4 col-sm-4">
                <a href="#tab2" class="icon-item">
                    <i class="fa fa-camera"></i>
                </a> <!-- /.icon-item -->
            </li>
            <li class="col-md-4 col-sm-4">
                <a href="#tab3" class="icon-item">
                    <i class="fa fa-coffee"></i>
                </a> <!-- /.icon-item -->
            </li>
        </ul> <!-- /.tabs -->
        <div class="col-md-12 col-sm-12">
            <div class="toggle-content text-center" id="tab1">
                <h3>Our History</h3>
                <p>
                    Circle is free HTML5 template from templatemo. Feel free to download, modify and use this template for your websites. You can easily change icons by <a rel="nofollow" href="http://fontawesome.info/font-awesome-icon-world-map/">Font Awesome</a>. Example: <strong>&lt;i class=&quot;fa fa-camera&quot;&gt;&lt;/i&gt;</strong>
                    <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, repellat, aspernatur nihil quasi commodi laboriosam cumque est minus minima sit dicta adipisci possimus magnam. Sit, repudiandae, ut, error, voluptates aspernatur inventore quo earum reiciendis dolorum amet perspiciatis adipisci itaque voluptatum iste laboriosam sapiente hic autem blanditiis doloribus nihil.
                </p>
            </div>

            <div class="toggle-content text-center" id="tab2">
                <h3>What We Do</h3>
                <p>
                    Donec quis orci nisl. Integer euismod lacus nec risus sollicitudin molestie vel semper turpis. In varius imperdiet enim quis iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ac mauris aliquam magna molestie posuere in id elit. Integer semper metus felis, fringilla congue elit commodo a. Donec eget rutrum libero.
                    <br><br>Nunc dui elit, vulputate vitae nunc sed, accumsan condimentum nisl. Vestibulum a dui lectus. Vivamus in justo hendrerit est cursus semper sed id nibh. Donec ut dictum lorem, eu molestie nisi. Quisque vulputate quis leo lobortis fermentum. Ut sit amet consectetur dui, vitae porttitor lectus.
                </p>
            </div>

            <div class="toggle-content text-center" id="tab3">
                <h3>Our Team</h3>
                <p>
                    Aliquam erat volutpat. Vivamus tempus, nisi varius imperdiet molestie, velit mi feugiat felis, sit amet fringilla mi massa sit amet arcu. Mauris dictum nisl id felis lacinia congue. Aliquam lectus nisi, sodales in lacinia quis, lobortis vel sem. Vestibulum elit nisi, placerat eget auctor ut, dictum at libero.
                    <br><br>Proin enim odio, eleifend eget euismod vitae, pharetra sed lacus. Donec at sapien nunc. Mauris vehicula quis diam nec dignissim. Nulla consequat nibh mattis metus sodales, at eleifend tortor tempor. Sed auctor lacus felis.
                </p>
            </div>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-1.jpg" alt="Tracy - Web Designer">
                </div>
                <h4>Tracy</h4>
                <span>Web Designer</span>
            </div> <!-- /.member-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">
            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-2.jpg" alt="Mary - Web Developer">
                </div>
                <h4>Mary</h4>
                <span>Web Developer</span>
            </div> <!-- /.member-item -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">
            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-3.jpg" alt="Julia - Creative Director">
                </div>
                <h4>Julia</h4>
                <span>Creative Director</span>
            </div> <!-- /.member-item -->
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
</div>