<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Circle - Free HTML5 Templates</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/Script/Front/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Script/Front/css/normalize.min.css">
    <link rel="stylesheet" href="~/Script/Front/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Script/Front/css/animate.css">
    <link rel="stylesheet" href="~/Script/Front/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/Script/Front/css/templatemo_style.css">
    
    <script src="~/Script/Front/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/Script/Front/js/IframeAuto.js"></script>

    <script src="~/Script/Front/js/treeJson.js"></script>
    
    <script src="~/Script/Front/js/jquery-2.1.1.js"></script>

    <script src="~/Script/Front/js/jquery.unobtrusive-ajax.js"></script>
</head>
<body>

    @RenderBody()

    <script src="~/Script/Front/js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Script/Front/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="~/Script/Front/js/jquery.easing-1.3.js"></script>
    <script src="~/Script/Front/js/bootstrap.js"></script>
    <script src="~/Script/Front/js/plugins.js"></script>
    <script src="~/Script/Front/js/main.js"></script>
   
    <script type="text/javascript">

        jQuery(function ($) {

            $.supersized({

                // Functionality
                slide_interval: 3000, // Length between transitions
                transition: 1, // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                transition_speed: 700, // Speed of transition

                // Components
                slide_links: 'blank', // Individual links for each slide (Options: false, 'num', 'name', 'blank')
                slides: [ // Slideshow Images
                    {
                        image: '/Script/Front/images/templatemo-slide-1.jpg'
                    }, {
                        image: '/Script/Front/images/templatemo-slide-2.jpg'
                    }, {
                        image: '/Script/Front/images/templatemo-slide-3.jpg'
                    }, {
                        image: '/Script/Front/images/templatemo-slide-4.jpg'
                    }
                ]

            });
        });

    </script>

    <!-- Google Map -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/Script/Front/js/vendor/jquery.gmap3.min.js"></script>

    <!-- Google Map Init-->
    <script type="text/javascript">
        function templatemo_map() {
            $('.google-map').gmap3({
                marker: {
                    address: '16.8496189,96.1288854'
                },
                map: {
                    options: {
                        zoom: 15,
                        scrollwheel: false,
                        streetViewControl: true
                    }
                }
            });
        }
    </script>
   
</body>
</html>