<div class="row">
    <ul class="tabs">
        <li class="col-md-4 col-sm-4">
            <a href="#tab4" class="icon-item">
                <i class="fa fa-cogs"></i>
            </a> <!-- /.icon-item -->
        </li>
        <li class="col-md-4 col-sm-4">
            <a href="#tab5" class="icon-item">
                <i class="fa fa-leaf"></i>
            </a> <!-- /.icon-item -->
        </li>
        <li class="col-md-4 col-sm-4">
            <a href="#tab6" class="icon-item">
                <i class="fa fa-users"></i>
            </a> <!-- /.icon-item -->
        </li>
    </ul> <!-- /.tabs -->
    <div class="col-md-12 col-sm-12">
        <div class="toggle-content text-center" id="tab4">
            <h3>Our Services</h3>
            <p>
                You can easily change icons by <a rel="nofollow" href="http://fontawesome.info/font-awesome-icon-world-map/">Font Awesome</a>. Example: <strong>&lt;i class=&quot;fa fa-users&quot;&gt;&lt;/i&gt;</strong> In varius eros ac est interdum, quis scelerisque elit semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                <br><br>Donec mattis enim sit amet nisl faucibus, eu pulvinar nibh facilisis. Aliquam erat volutpat. Vivamus tempus, nisi varius imperdiet molestie, velit mi feugiat felis, sit amet fringilla mi massa sit amet arcu. Mauris dictum nisl id felis lacinia congue. Aliquam lectus nisi, sodales in lacinia quis, lobortis vel sem. Vestibulum elit nisi, placerat eget auctor ut, dictum at libero.
            </p>
        </div>

        <div class="toggle-content text-center" id="tab5">
            <h3>Our Support</h3>
            <p>
                Nulla consequat nibh mattis metus sodales, at eleifend tortor tempor. Sed auctor lacus felis. Maecenas auctor enim libero, vel viverra nulla fringilla quis. Sed eget aliquet arcu. Suspendisse ac dignissim nunc, id pretium elit. Nunc id neque vel leo semper gravida non ut enim. Cras sed posuere magna.
                <br><br>Morbi eget ante sed felis tristique interdum. In varius eros ac est interdum, quis scelerisque elit semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
        </div>

        <div class="toggle-content text-center" id="tab6">
            <h3>Testimonials</h3>
            <p>
                Etiam dictum, quam quis pharetra tincidunt, enim nunc faucibus ipsum, vitae condimentum ligula est eu dui. Sed tincidunt tincidunt sapien non feugiat. Aenean lacinia tempor leo, et euismod ligula porta non. Quisque lectus ante, rutrum eu neque volutpat, euismod lobortis velit. Suspendisse felis risus, tempor ac vehicula eu, volutpat volutpat sem. Donec quis orci nisl. Integer euismod lacus nec risus sollicitudin molestie vel semper turpis.
                <br><br>In varius imperdiet enim quis iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ac mauris aliquam magna molestie posuere in id elit. Integer semper metus felis, fringilla congue elit commodo a. Donec eget rutrum libero.
            </p>
        </div>
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->
