
<div class="toggle-content text-center" id="tab4">
    <div class="form-group" id="Port_detail">
        <label for="exampleInputAount7" class="col-sm-2 control-label">结果</label>
        <div class="col-sm-10">
            <textarea class="default form-control">@ViewBag.reult</textarea>
        </div>
    </div>
</div>

