@using Models.Activity
@model IEnumerable<Modular>
@using Pd.Api.BootstrapSupport
<div class="row">
    <div class="col-md-12 col-sm-12">
        @foreach (var item in Model)
            {
            <div class="toggle-content text-center" id="tab4">
                <h3>@item.ModularName</h3>
                <p>
                    @item.Remark
                    <br><br>Donec mattis enim sit amet nisl faucibus, eu pulvinar nibh facilisis. Aliquam erat volutpat. Vivamus tempus, nisi varius imperdiet molestie, velit mi feugiat felis, sit amet fringilla mi massa sit amet arcu. Mauris dictum nisl id felis lacinia congue. Aliquam lectus nisi, sodales in lacinia quis, lobortis vel sem. Vestibulum elit nisi, placerat eget auctor ut, dictum at libero.
                </p>
                <div class="pull-right">
                    <h4>
                        <label ty class="label label-info">
                            @Ajax.ActionLink("PORT", "Index","PPort", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "Main_2" })
                        </label>&nbsp;
                        <label class="label label-success">
                            @Ajax.ActionLink("DETAILS", "About", "Home", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "Main_2" })
                        </label>
                    </h4>
                </div>
            </div>
        }
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->